.main-menu.menu-light .navigation > li.active > a {
    background: linear-gradient(118deg,#1572e8,#1572e8);
    box-shadow: 0 0 10px 1px #74acf4;
    color: #fff;
    font-weight: 400;
    border-radius: 4px;
}

#dashboard-analytics .img-left {
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
}

#dashboard-analytics .img-right {
    width: 175px;
    position: absolute;
    top: 0;
    right: 0;
}

.bg-primary {
    background-color: #1572e8 !important;
}

.horizontal-menu .header-navbar.navbar-horizontal ul#main-menu-navigation > li.active > a {
    background: linear-gradient(118deg,#1572e8,#1572e8);
    box-shadow: 0px 0px 6px 1px #74acf4;
    color: #fff;
    border-radius: 4px;
}

#dashboard-analytics .bg-analytics {
    background: linear-gradient(118deg,#1572e8,#ef797a);
}

#dashboard-analytics .bg-analytics .avatar {
    margin-bottom: 2rem;
}

#dashboard-analytics table tr th:first-child,#dashboard-analytics table tr td:first-child {
    padding-left: 2rem;
}

#dashboard-analytics table tr th:last-child,#dashboard-analytics table tr td:last-child {
    padding-right: 2rem;
}

#dashboard-analytics table td {
    padding: .75rem;
}

@media only screen and (max-width: 576px) {
    #dashboard-analytics .img-left,#dashboard-analytics .img-right {
        width:140px;
    }
}

.nav-pills .nav-link.active,.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1572e8;
}

.node-pills .nav-link {
    font-size: .875rem;
    font-weight: 500;
    padding: .75rem 1rem;
    transition: all .15s ease;
    color: #1572e8;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
}

.btn-outline-primary:hover {
    background-color: rgba(115,103,240,0.08);
    color: #1572e8;
}

.btn-outline-primary {
    border: 1px solid rgb(238,139,140);
    background-color: transparent;
    color: rgb(234,84,85);
}

.btn-primary {
    color: #fff;
    background-color: rgb(235,94,95);
    border-color: rgb(237,117,118);
}

.btn-primary:hover {
    color: #fff;
    background-color: rgb(238,150,151);
    border-color: rgb(238,144,145);
}

.btn-primary:focus,.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(136,126,242,0.5);
}

.btn-primary.disabled,.btn-primary:disabled {
    color: #fff;
    background-color: rgb(238,129,130);
    border-color: rgb(238,142,143);
}

.btn-primary:not(:disabled):not(.disabled):active,.btn-primary:not(:disabled):not(.disabled).active,.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: rgb(236,108,109);
    border-color: rgb(237,132,133);
}

.btn-primary:not(:disabled):not(.disabled):active:focus,.btn-primary:not(:disabled):not(.disabled).active:focus,.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(136,126,242,0.5);
}

.main-menu .navbar-header .navbar-brand .brand-text {
    color: #1572e8;
    font-weight: 600;
    letter-spacing: 0.01rem;
    font-size: 1.57rem;
    animation: 0.3s cubic-bezier(0.25,0.8,0.25,1) 0s normal forwards 1 fadein;
}

.main-menu .navbar-header .navbar-brand .brand-logo {
    background-position: -9px -11px;
    height: 24px;
    width: 55px;
}

.horizontal-menu .header-navbar.navbar-brand-center .navbar-header .navbar-brand .brand-logo {
    background-position: -10px -10px;
    height: 24px;
    width: 35px;
}

.text-primary {
    color: #1572e8 !important;
}

a {
    color: #1572e8;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #1572e8;
    text-decoration: none;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #1572e8ba;
    background-color: #1572e8;
}

.modal .modal-header .close span {
    font-weight: 400;
    font-size: 2rem;
    color: #1572e8;
}

.modal .modal-header .close span {
    font-weight: 400;
    font-size: 2rem;
    color: #1572e8;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #f8f8f8;
    color: #1572e8;
}

html .pace .pace-progress {
    background: #1572e8;
}

.card.card-hero .card-header {
    padding: 40px;
    background-image: linear-gradient(to bottom,#1572e8,#1572e8);
    color: #fff;
    overflow: hidden;
    height: auto;
    min-height: auto;
    display: block;
}

.card.card-hero .card-header h4 {
    font-size: 40px;
    line-height: 1;
    color: #fff;
}

.card.card-hero .card-header .card-description {
    margin-top: 5px;
    font-size: 16px;
}

.card.card-hero .card-header .card-icon {
    float: right;
    color: #1572e8;
    font-size: 140px;
    margin-top: -100px;
    margin-right: -50px;
}

.pagination-render span {
    color: #1572e8;
    background: #f9fafe;
    border-radius: 3px;
    margin: 0 3px;
    font-weight: 600;
    border-color: transparent;
    position: relative;
    display: block;
    padding: .5rem .75rem;
    line-height: 1.25;
    cursor: pointer;
    border: 1px solid #f9fafe;
}

.pagination-render .disabled {
    cursor: auto;
    pointer-events: none;
}

.pagination-render .active span {
    background-color: #1572e8;
    color: white;
    border-color: #1572e8;
}

.pagination-render a {
    color: #1572e8;
    background: #f9fafe;
    border-radius: 3px;
    margin: 0 3px;
    font-weight: 600;
    border-color: transparent;
    position: relative;
    display: block;
    padding: .5rem .75rem;
    line-height: 1.25;
    border: 1px solid #f9fafe;
}

.pagination-render a:hover {
    background-color: #1572e8;
    color: #fff;
    border-color: transparent;
    text-decoration: none;
}

.header-navbar .navbar-container ul.nav li.dropdown-user .dropdown-menu-right .dropdown-item:hover,.header-navbar .navbar-container ul.nav li.dropdown-user .dropdown-menu-right .dropdown-item:active {
    background: #1572e8;
    color: #fff !important;
}

.vs-checkbox-con input:checked ~ .vs-checkbox {
    transform: rotate(0deg);
    border-color: #1572e8;
}

.vs-checkbox-con input:checked ~ .vs-checkbox .vs-checkbox--check {
    transform: translate(0);
    background-color: #1572e8;
}

.cool-item {
    background: #1572e8;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 10px!important;
    border-radius: 5px;
    -webkit-transition: all 0.3s cubic-bezier(0.23,1,0.32,1);
    transition: all 0.3s cubic-bezier(0.23,1,0.32,1);
}

.cool-item:last-child {
    margin: 0;
}

.pagination .page-item.active .page-link {
    z-index: 3;
    border-radius: 5rem;
    background-color: #1572e8;
    color: #fff;
    transform: scale(1.05);
}
