div.d1 {
	position: relative;
	width: 100%;
	height: 40px;
}

div.d2 {
	position: absolute;
	left: 1%;
}

div.d3 {
	position: absolute;
	left: 18%;
	width: 40%;
}

div.d4 {
	position: absolute;
	right: 1%;
	width: 25%;
}

.server {
	position: relative;
	width: 100%;
	height: 30px;
}

.flag {
	position: absolute;
	left: 1%;
	width: 75%;
}

.alignleft {
	float: left
}

.others {
	position: absolute;
	right: 1%;
	width: 25%;
	margin-top: 5px;
}

.overflow-text {
	text-overflow: ellipsis;
	overflow: hidden;
	width: 75%;
	white-space: nowrap;
	display: inline-block;
}

.pricing-card .card.popular {
	border: 1px solid #1572e8
}

.nav-pills .nav-item .active {
	background-color: #1572e8 !important;
	border-color: #1572e8 !important;
}

@media only screen and (max-width: 600px) {
	video {
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {
	video {
		width: 80%;
	}
}

@media only screen and (min-width: 600px) {
	video {
		width: 80%;
	}
}

@media only screen and (max-width: 480px) {
	video {
		width: 100%;
	}
}

.discount {
	border-color: #1572e8 !important;
}

.justify-content-center .active {
	background-color: #1572e8 !important;
	border-color: #1572e8 !important;
	color: #FFFFFF !important;
}

.alignleft {
	float: left
}

.alignright {
	float: right
}

.aligncenter {
	float: center
}

.modal-backdrop {
	background-color: black;
}

.checkout-options .price-details .price-title {
	font-weight: 600;
	margin-bottom: 0.75rem;
	margin-top: 1.5rem;
}

.checkout-options .price-details .price-detail {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 0.75rem;
}

.checkout-options .price-details .price-detail .detail-title.detail-total {
	font-weight: 600;
}

.nav-pills .nav-link {
	font-weight: 500;
	transition: all .15s ease;
	box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

@media (max-width:575.98px) {
	.nav-pills .nav-item {
		margin-bottom: 1rem
	}
}

@media (max-width:767.98px) {
	.nav-pills:not(.nav-pills-circle) .nav-item {
		padding-right: 0
	}
}

.btn:not(:last-child) {
	margin-right: .5rem
}

@keyframes flame {
	50% {
		-webkit-transform: scale(0.8) rotate(45deg);
		transform: scale(0.8) rotate(45deg);
	}
}

div.dataTables_wrapper div.dataTables_paginate {
	margin: 0;
	white-space: nowrap;
	text-align: right;
	display: inline-block;
}

.main-menu.menu-light .navigation>li.active>a {
	background: linear-gradient(118deg, #1572e8, #1572e8);
	background-color: #1572e8;
	box-shadow: 0 0 10px 1px #1572e8;
	color: #ffffff;
	font-weight: 400;
	border-radius: 4px;
}